@using SMLYS.Web.ViewModels.Invoices

@model InvoiceRequestViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn  view-item-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Search Invoice
                </div>
                <form asp-controller="Invoice" method="post" class="form-horizontal" id="myForm" asp-action="SearchInvoice">
                    <div class="card-body view-invoice-search-section">

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input asp-for="DisplayId" class="form-control" placeholder="Invoice Id" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input asp-for="InvoiceFromDate" class="form-control" placeholder="Invoice From Date" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input asp-for="InvoiceToDate" class="form-control" placeholder="Invoice To Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-secondary">Search</button>
                    </div>

                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Invoice
                </div>
                <div class="card-body">
                    <div class="table-responsive-md text-nowrap">
                        <table class="table table-bordered table-striped table-sm table-items">
                            <thead>
                                <tr>
                                    <th>INVOICE ID</th>
                                    <th>PATIENT</th>
                                    <th>PHYSICIAN</th>
                                    <th>INVOICE DATE</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Invoices.Any())
                                {
                                    @foreach (var item in Model.Invoices)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/Invoice/InvoiceDetail?InvoiceId=@item.DisplayId">@Html.DisplayFor(modelItem => item.DisplayId) </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                 @await Html.PartialAsync("_Pagination", Model.Pager)
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <!-- pager -->
  
</div>

