@using SMLYS.Web.ViewModels.Invoices

@model IEnumerable<InvoiceViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn  view-item-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Search Invoice
                </div>
                <form asp-controller="Invoice" method="post" class="form-horizontal" id="myForm" asp-action="SearchInvoice">
                    <div class="card-body view-invoice-search-section">

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Invoice Id" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="First Name" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Last Name" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Invoice From Date" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Invoice To Date" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" id="search" class="btn btn-secondary ml-1">Search </button>
                    </div>

                </form>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Invoice
                </div>
                <div class="card-body">
                    <div class="table-responsive-md text-nowrap">
                        <table class="table table-bordered table-striped table-sm table-items">
                            <thead>
                                <tr>
                                    <th>INVOICE ID</th>
                                    <th>PATIENT</th>
                                    <th>PHYSICIAN</th>
                                    <th>INVOICE DATE</th>
                                    <th>TOTAL</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/Invoice/InvoiceDetail?InvoiceId=@item.InvoiceId">@Html.DisplayFor(modelItem => item.InvoiceId) </a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.DoctorName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Total)</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->



</div>

