@model SMLYS.Web.ViewModels.Invoices.InvoiceViewModel

@{
    ViewData["Title"] = "New Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn">
    <form method="post" class="form-horizontal" id="myForm">
        <div id="invoice" class="row invoice-row">
            <div class="col-sm-12 invoice-col">
                <div class="card center-block" style="max-width:800px; display:block; margin-left:auto;margin-right:auto;">
                    <section class="primary-invoice-section invoice">
                        <div class="card-header">
                            <strong>@ViewData["Title"]</strong>
                            <input type="hidden" asp-for="FamilyId" id="FamilyIdHidden" />
                            <input type="hidden" asp-for="PatientId" id="PatientIdHidden" />
                        </div>
                        <div class="card-body invoice-body">

                            <section class="invoice-basic-section">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="PatientName"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select asp-for="PatientId" id="selectPatient" name="selectPatient"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(@ViewBag.ListofPatient,"Id", "Name"))"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="InvoiceId"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.DisplayFor(item => item.InvoiceId)

                                            <span asp-validation-for="InvoiceId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="SendToName"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="send-to-name float-sm-left">
                                                <span title="@Model.PatientName"> @Html.DisplayFor(item => item.PatientName) </span>
                                                <i class="fa fa-close fa-lg float-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="InvoiceDate"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group invoice-date">
                                            @Html.DisplayFor(item => item.InvoiceDate)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="Address"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group address-sestion">
                                            @if (Model != null && Model.Patients.Any())
                                            {
                                                @foreach (var patient in Model.Patients)
                                                {
                                            <div class="patient-address d-none">
                                                <input type="hidden" asp-for="@patient.PatientId" id="AddressPatientIdHidden" />
                                                <div>
                                                    @Html.DisplayFor(modelItem => patient.Address.Address1) -
                                                    @Html.DisplayFor(modelItem => patient.Address.Address2)
                                                </div>
                                                <div>
                                                    @Html.DisplayFor(modelItem => patient.Address.City),
                                                    @Html.DisplayFor(modelItem => patient.Address.RegionName) &nbsp;
                                                    @Html.DisplayFor(modelItem => patient.Address.CountryName)
                                                </div>
                                            </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="DoctorName"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <select asp-for="DoctorId" id="selectDoctor" name="selectDoctor"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(@ViewBag.ListofDoctor,"Id", "Name"))"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label asp-for="ReOccouring"></label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="switch switch-text switch-pill switch-primary">
                                                <input type="checkbox" class="switch-input">
                                                <span class="switch-label" data-on="On" data-off="Off"></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-2">
                                        <div class="form-group re-occouring-type d-none">
                                            <select id="selectReOccouringType" name="selectReOccouringType" class="form-control">
                                                <option value="1">Yearly</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group re-occouring-year d-none">
                                            <select id="selectYear" name="selectYear" class="form-control">
                                                <option value="1">Starting January 9, 2019</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </section>
                        </div>
                    </section>

                    <section class="invoice-detail-section">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table table-bordered table-striped table-sm table-invoices">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">SERVICE</th>
                                                    <th style="width:35%">DESCRIPTION</th>
                                                    <th style="width:10%">QTY</th>
                                                    <th style="width:10%">COST</th>
                                                    <th style="width:10%">TAX</th>
                                                    <th style="width:10%">AMOUNT</th>
                                                    <th style="width:5%"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="invoice-items"></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <!--/.col-->
                        </div>
                    </section>

                    <section class="invoice-total">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8 button ">
                                        <div class="add-item cursor-pointer" id="add_item">
                                            <i class="fa fa-plus fa-lg mt-4"></i>  <span>Add new service</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 invoice-total">
                                        <table class="table table-bordered table-sm table-invoices">
                                            <tbody class="invoice-total">
                                                <tr><td>Subtotal</td><td class="invoice-subtotal">0.00</td></tr>
                                                <tr><td>Tax</td><td class="invoice-tax">0.00</td></tr>
                                                <tr><td>Amount paid</td><td class="invoice-amount-paid">0.00</td></tr>
                                                <tr><td>Balance Due</td><td class="invoice-total">0.00</td></tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="card-footer add-patient-buttons">
                        <button type="button" class="btn btn-sm btn-primary" onclick="SMLYS.Invoice.AddInvoiceModal()">Create Invoice</button>

                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
                    </div>
                </div>
            </div>


        </div>
    </form>
</div>
@section Styles {
    <link href="~/css/Invoice/invoice.css" rel="stylesheet">
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/views/Invoices/newInvoice.js" asp-append-version="true"></script>
}